<!-- <div class="row"> -->
<!-- <div > -->
    <div class="col-12 col-md-6 col-lg-4" *ngFor='let product of farmerProducts'>
        <div class="card">
            <img class="card-img-top" src="https://idsb.tmgrup.com.tr/ly/uploads/images/2020/05/13/thumbs/800x531/35552.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title"><a  title="View Product"><strong>{{product.product_name}}</strong></a></h4>
                <p class="card-text">{{product.product_description}}</p>
                <div class="row">
                    <div class="col">
                        <p class="btn btn-sm btn-danger btn-block">{{product.price}} $</p>
                    </div>
                    <div class="col">
                        <a href="#" class="btn btn-sm btn-success btn-block">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- </div> -->
    
<!-- </div> -->
