/* You can add global styles to this file, and also import other style files */

@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.form-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form-full-width {
  width: 100%;
}


/* .card {
    width: 40rem;
    margin: 0 auto;
  } */

/* .card-title {
      font-size: 1rem;
      font-weight: bolder;
      font-style: italic;
      color:rgba(5, 105, 5, 0.815);
      height: 45;
      
} */



  .done{
    color: rgba(5, 105, 5, 0.815);
    font-weight: bold;
    font-size: large;
  }
  .error{
    color : rgb(243, 11, 11)     }

  .mat-sort-header-container {
    align-items : center,
  } 


