<!DOCTYPE html>
<html lang="en">

<head>
    <title>Product Page</title>
    
    <link rel='stylesheet' type='text/css' media='screen' href="/productDetails.css}">
</head>
<body>
<div id="product" class="container pt-4" layout:fragment="main-content">
    <div class="row mb-4" th:if="${product.isEnabled()}">
        <div class="col-4">
            <div class="image">
                <img th:attr="src=@{'/' + ${product.imagePath}},title=${product.name},alt=${product.name}"/>
            </div>
        </div>
        <div class="col-5">
            <p>Seller: <a th:text="${product.getSeller().getFirstName()}" th:href="@{/buyer/seller/{id}(id=${product.seller.id})}"></a></p>
            <h2 th:text="${product.name}"></h2>
            <h4><b>Price: </b> $<span th:text="${product.price}"></span></h4>
            <div class="horizontal-line">
                <p class="text-justify" th:text="${product.description}"></p>
            </div>
            <div sec:authorize="hasRole('ROLE_BUYER')" class="form-inline mt-4">
                <div class="form-group mx-sm-3 mb-2">
                    <input type="number" class="form-control" id="inputQty" min="1" max="100" value="1">
                </div>
                <button class="btn-core btn-blue mb-2" th:value="${product.id}" id="addToCard">ADD TO CARD</button>
            </div>
        </div>
        <div class="col-3">
            <div class="reviews image">
                <h5>Reviews</h5>
                <div th:each="review : ${product.productReviewList}">
                    <div th:if="${review.isEnabled()}" class="image mt-2">
                        <div class="username"><i class="fas fa-user-circle"></i> <span th:text="${review.buyer.firstName}">Username</span></div>
                        <div class="comment" th:text="${review.comment}">This product is very good!</div>
                        <div class="stars">
                        <!-- <span th:each="i : ${#numbers.sequence(1, review.rating)}">
                            <mat-icon class="mat-icon material-icons checked" role="img">star_rate</mat-icon>
                        </span>
                            <span th:if="${5 - review.rating > 0}">
                            <span th:each="i : ${#numbers.sequence(1, 5 - review.rating)}">
                                <mat-icon class="mat-icon material-icons" role="img">star_rate</mat-icon>
                            </span>
                        </span> -->
                        </div>
                    </div>
                </div>
                <a sec:authorize="hasRole('ROLE_BUYER')" th:href="@{/product/review/{id}(id=${product.id})}" class="btn-core btn-blue mt-2">
                    <span class="fas fa-edit"></span> ADD REVIEW
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>