OrderId: 123
<div style="margin: 200px;">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>     
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="item of items">
          <td>Potato</td>
          <td>3</td>
          <td>2</td>
         </tr>
      </tbody>
    </table>
    Total:120$
    <p>
        Seller:Dave
        Status:Complete
        Order-Date:10 Aug,2020

    </p>
    <span>Rating:
        <button type="button" class="btn btn-danger">Bad</button>
        <button type="button" class="btn btn-warning">Good</button>
        <button type="button" class="btn btn-success">Excellent</button>
    </span>
        
        
    </div>
    