<form [formGroup]="signupForm" (ngSubmit)='onSubmit()'>
  <div style="margin: 50px 400px; background-color: rgb(229, 241, 241);padding: 50px; border-radius: 20px;">
    <p style="background-color: beige; text-align: center; text-decoration-color: mediumblue;">SIGN-UP FORM</p>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" id="inputEmail4" formControlName="email" placeholder="Email"required>
        <!-- <div *ngIf="email.errors.required">
          Email is required.
        </div> -->
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Password</label>

        <!-- <input type="password" class="form-control" id="inputPassword4" formControlName="password" placeholder="Password">
        <div *ngIf="password.errors.required">
          Password is required.
        </div> -->

        <input type="password" class="form-control" id="inputPassword4" formControlName="password"
          placeholder="Password">

      </div>
    </div>

    <div class="form-row">

        <!-- <div class="form-group col-md-6">
          <label for="inputEmail4">FirstName</label>
          <input type="text" class="form-control" id="inputFirstname" formControlName="first_name" placeholder="FirstName">
          <div *ngIf="first_name.errors.required">
            FirstName is required.
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">LastName</label>
          <input type="text" class="form-control" id="inputLastname" formControlName="last_name" placeholder="LastName">
          <div *ngIf="last_name.errors.required">
            LastName is required.
          </div>
        </div>  -->

      <div class="form-group col-md-6">
        <label for="inputEmail4">FirstName</label>
        <input type="text" class="form-control" id="inputFirstname" formControlName="first_name"
          placeholder="FirstName">

      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">LastName</label>
        <input type="text" class="form-control" id="inputLastname" formControlName="last_name" placeholder="LastName">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" formControlName="address">



      <!-- <div *ngIf="address.errors.required">
        Address is required.
      </div>
    </div>
    <div class="form-group col-md-4">
        <label for="inputState">Role</label>
        <select id="inputState" class="form-control"formControlName="role">
          <option selected>Choose...</option>
          <option>Farmer</option>
          <option>Customer</option>
        </select>
        <div *ngIf="role.errors.required">
          Role is required.
        </div>
======= -->


    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Role</label>
      <div *ngFor="let r of roles">
        <label>
          <input type="radio" formControlName="role" [value]="r"> {{r}}
        </label>
      </div>
    </div>

    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign up</button> &nbsp; <button class="btn btn-info"
      (click)='goToLogin()'>Goto login</button>


  </div>
</form>

<!-- <footer>
    <div class="border">
        <span class="title">Project of Modern Web Architecture</span>
        <span class="date">&copy; August 2020</span>
    </div>
    <div id="notify" style="display: none;">Alert</div>
</footer> -->







<!-- <form [formGroup]="signupForm" (ngSubmit)='onSubmit()'>
    <p><label>first name: </label>  <input type="text" formControlName="first_name"></p>
    
    <p><label>last name: </label>  <input type="text" formControlName="last_name"></p>
    
    <p><label>email: </label>  <input type="text" formControlName="email"></p>

    <p><label>password: </label>  <input type="password" formControlName="password"></p>

    <div *ngFor="let r of roles">
        <label>
          <input type="radio" formControlName="role" [value]="r"> {{r}}
        </label>
      </div>
    
    <p><button type="submit">SignUp</button>  <button (click) = 'goToLogin()'>Login</button></p>
</form> -->



<!-- <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" formControlName="username">
      
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input type="text" class="form-control" id="email" formControlName="email">
        <div *ngIf="!myForm.get('userData').get('email').valid">
          Invalid Email
        </div>
      </div>
    </div>
  
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" formControlName="password">
    </div>
    <div class="radio" *ngFor="let g of genders">
      <label>
        <input type="radio" formControlName="gender" [value]="g"> {{g}}
      </label>
    </div>
    <div formArrayName="hobbies">
      <h3>Hobbies</h3>
      <div class="form-group" *ngFor="let hobby of myForm.get('hobbies')['controls']; let i = index">
        <input type="text" class="form-control" formControlName="{{i}}">
      </div>
    </div>
    <button type="button" class="btn btn-default" (click)="onAddHobby()">Add Hobby</button>
    <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">Submit</button>
  </form> -->